<div class="ui grid">
  <div class="four wide column"></div>
  <div class="eight wide column ui segment">
    <h2 class="ui header">Hey, {{username}}!<h2>

    <form action="/logout" method="POST" class="ui form">
      <button class="ui button" type="submit">Log out</button>
    </form>
  </div>
</div>
