<div class="ui grid">
  <div class="four wide column"></div>
  <div class="eight wide column ui segment">
    <h3 class="ui header">Sign up</h3>

    <form action="/signup" method="POST" class="ui form">
      <div class="field">
        <label>Username</label>
        <input name="username" placeholder="justinbieber45" type="text">
      </div>
      <div class="field">
        <label>Password</label>
        <input name="password" placeholder="n0t1m3f0rh4ck3r5" type="password">
      </div>
      <div class="field">
        <label>Repeat Password</label>
        <input name="password-repeated" placeholder="n0t1m3f0rh4ck3r5" type="password">
      </div>
      <button class="ui button" type="submit">Submit</button>
    </form>

    Or <a href="/">log into an existing user</a>.
  </div>
</div>
